.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.brands-container {
  height: 25rem;
  overflow: scroll;
  border-bottom: 1px solid gray;
}