<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> {{product?.name}} </mat-card-title>
      <mat-card-subtitle> {{product?.subCategory}} </mat-card-subtitle>
    </mat-card-header>

    <ng-template appCarousel [appCarouselOf]="product?.images" let-img let-next="next" let-back="back">

      <div class="galerey">
        <mat-icon (click)="back()">keyboard_arrow_left</mat-icon>
      <img mat-card-image [src]="img?.url" alt="Photo of a Shiba Inu">
        <mat-icon (click)="next()">keyboard_arrow_right</mat-icon>
      </div>

    </ng-template>
    
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia incidunt libero debitis veritatis pariatur 
        quo in! Eveniet illo commodi excepturi maxime porro, iusto quidem quasi, sit debitis nobis itaque quibusdam 
      </p>

      <div class="rating">
        <div>
          <mat-icon [class.star-active]="isStarActive(1)">star_border</mat-icon>
          <mat-icon [class.star-active]="isStarActive(1)">star_border</mat-icon>
          <mat-icon [class.star-active]="isStarActive(1)">star_border</mat-icon>
          <mat-icon [class.star-active]="isStarActive(1)">star_border</mat-icon>
          <mat-icon [class.star-active]="isStarActive(1)">star_border</mat-icon>
        </div>

      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button>Buy {{86}} $</button>
    </mat-card-actions>
</mat-card>