<div *ngIf="productsList$ | async as productsList; else: loader">

    <app-counter-input [formControl]="counter"></app-counter-input>
    <p *ngIf="counter.hasError('max')">Error</p>
    
    <div class="cards-container" *ngIf="productsList.length > 0">
        <ng-template #name 
        appPagination
        [showElements]="counter.value || 0"
        [allProductList]="productsList" 
        let-groupItems="productsGroup" 
        let-next="next" 
        let-back="back">
            
          <div class="card-container">
                <app-card *ngFor="let product of groupItems"
                    [product]="product"
                    [routerLink]="'/product/' + product._id">
                </app-card>
          </div>  

            <div class="pagination-button">
                <button mat-raised-button color="primary" (click)="next()">	
                    Next Page
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="back()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Previous Page
                </button>
            </div>

        </ng-template>
    </div>
</div>


<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>
